<!DOCTYPE html>
<html lang="en">
{%extends 'weather/base.html'%}
<head>
{%block content%}


<style>
    .container{
    text-align:center;

     background: rgba(70, 130, 180, 0.5);


    border-color:black;
    border-radius:15px;
    width:1000px;
    height:400px;


    }



</style>


</head>
<body>
<div class="hero">
    <div class="container">
        <p></p><h1>About</h1></p>
        <h>Developer name:Abhishek Yadav</h><br>
        <h>Contact:8002007451</h>
        <h></h><br>




    </div>




</div>

</body>
{%endblock%}
</html>