<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{%extends 'weather/base.html'%}





</head>
{%block content%}
<body>
<div class="contact-form">



    <form  method="post" action="{%url 'contact'%}">
        {%csrf_token%}

            <input name="name" type="text" class="form-control" placeholder="Your name" required>
            <br>

                <input name="message" class="form-control" type="text" placeholder="Enter your message"required>
            <br>

                <input type="submit" class="form-control submit">






    </form>
</div>




</body>
{%endblock%}
</html>